body {
  font-family: Poppins, sans-serif;
  background-color: #272044;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 40px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/reykjavik-guide-lead-image-48-hours.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  letter-spacing: 0%;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0%;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 5px;
  margin: 0px;
}

header a {
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  background-color: white;
  text-decoration: none;
  color: #272044;
  display: inline-block;
  margin-top: 32px;
  padding: 10px 32px;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/reykjavik-guide-lead-image-48-hours.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0%;
  color: white;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.6;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 30px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
